.img-circular{
 width: 150px;
 height: 150px;
 background-image: url('../img/diretor.png');
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 background-position: center;
}